//color

$c-header: #12161c;
$c-footer: #0b0e11;

$white: #fff;
$red: #c8313e;
$orange: #f0bb0b;
$violet: #852f8e;
$blue: #2f628e;
$grey: #f3f3f3;

//var
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$mukta: 'Ek Mukta', sans-serif;;

$menuItems: 6;
